<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrbi.springbootinit.mapper.IntegralLogMapper">

    <resultMap id="BaseResultMap" type="com.wrbi.springbootinit.model.entity.IntegralLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="integralType" column="integral_type" jdbcType="INTEGER"/>
            <result property="integral" column="integral" jdbcType="INTEGER"/>
            <result property="bak" column="bak" jdbcType="VARCHAR"/>
            <result property="operationTime" column="operation_time" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,integral_type,
        integral,bak,operation_time,
        create_time,isDelete
    </sql>
</mapper>
